 :root {
  --bg: #0b0b12;
  --violet: #a855f7;
  --text-main: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body { 
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at top, #1a0f2e, var(--bg));
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-main);
} */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* REGISTER CARD */
.LoginPageBox {
  width: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: linear-gradient(145deg, #161625, #0c0c14);
  border-radius: 20px;
  box-shadow: 0 0 130px rgba(168, 85, 247, 0.25);
}

/* TITLE */
.lp {
  font-size: 30px;
  font-weight: bold;
  color: var(--violet);
  text-align: center;
}

/* INPUT GROUP */
.input-group {
  display: flex;
  align-items: center;
  border-bottom: 2.5px solid #aaa;
  padding: 8px 4px;
}

.input-group input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
}

.input-group ion-icon {
  font-size: 22px;
  color: white;
  margin-left: 10px;
}

/* FOCUS EFFECT */
.input-group:focus-within {
  border-bottom: 4px solid var(--violet);
}

.input-group:focus-within ion-icon {
  color: var(--violet);
} 

/* BUTTON */
#submit {
  margin-top: 30px;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: var(--violet);
  color: black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#submit:hover {
  box-shadow: 0 0 35px var(--violet);
}

.register-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.register-link a {
  color: #4facfe;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}
